// Colors
// -------------------------
$body-bg:               #f9f9fa;

// Typography
// -------------------------
$ff:  					'Open Sans', sans-serif;
$ff-add:  				'Montserrat', sans-serif;

$ff-main:				$ff;

$defXPad:               20px;
$defXPad2:              30px;
//$defYPad:               20px;
$maxWidth:              1500px;

$shadow:				0 3px 5px rgba(38, 38, 39, 0.05);

$L:     				1280px;
$M:     				1024px;
$S:     				767px;

$orange: 				#fccc59;




$brand-color: 			$orange;