html, body, h1, h2, h3, h4, h5, h6, p, em, strong, abbr, acronym, blockquote, q, cite, ins, del, dfn, a, div, span, pre, hr, address, br, b, i, sub, sup, big, small, tt, table, tr, caption, thead, tbody, tfoot, col, colgroup, form, input, label, textarea, button, fieldset, legend, select, option, ul, ol, li, dl, dt, dd, code, var, samp, img, object, param, map, area {
  padding: 0;
  margin: 0;
  border: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, figure, figcaption, header, footer, aside, article {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=button], input[type=submit], button {
  cursor: pointer; }

button {
  border: 0; }

*:focus {
  outline: none; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
  outline: none; }

button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* reset extra padding in Firefox */
::-ms-clear {
  width: 0;
  height: 0; }

::-ms-reveal {
  width: 0;
  height: 0;
  display: none; }

/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */
@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: break-word; }

a img {
  border: none;
  vertical-align: middle; }

input, textarea {
  outline: none;
  resize: none; }

.clear {
  clear: both; }

.pull-left {
  float: left; }

.fl_l {
  float: left; }

.pull-right {
  float: right; }

.fl_r {
  float: right; }

.text_r {
  text-align: right; }

.text_c {
  text-align: center; }

.text_l {
  text-align: left; }

.ov {
  overflow: hidden; }

.no_bg {
  background: none; }

.m_0 {
  margin: 0; }

.block {
  display: block; }

.in_bl {
  display: inline-block; }

.inline {
  display: inline; }

.hidden {
  visibility: hidden; }

.none {
  display: none !important; }

sup, sub {
  vertical-align: baseline;
  position: relative;
  font-size: .4em;
  line-height: 1; }

sup {
  bottom: 1.4ex; }

sub {
  top: .5ex; }

.va_t {
  vertical-align: top; }

.va_m {
  vertical-align: middle; }

.va_b {
  vertical-align: bottom; }

.va_middle_out {
  position: relative;
  line-height: 0;
  font-size: 0; }

.upp {
  text-transform: uppercase; }

.pr-10 {
  padding-right: 10px !important; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.col {
  float: left; }
  .col-1 {
    width: 8.2%; }
  .col-2 {
    width: 16.5%; }
  .col-3 {
    width: 25%; }
  .col-4 {
    width: 33.3%; }
  .col-5 {
    width: 41.7%; }
  .col-6 {
    width: 50%; }
  .col-7 {
    width: 58.3%; }
  .col-8 {
    width: 66.6%; }
  .col-9 {
    width: 75%; }
  .col-10 {
    width: 83.3%; }
  .col-11 {
    width: 91.6%; }
  .col-12 {
    width: 100%; }

.row-1 {
  height: 8.2%; }

.row-2 {
  height: 16.5%; }

.row-3 {
  height: 25%; }

.row-4 {
  height: 33.3%; }

.row-5 {
  height: 41.7%; }

.row-6 {
  height: 50%; }

.row-7 {
  height: 58.3%; }

.row-8 {
  height: 66.6%; }

.row-9 {
  height: 75%; }

.row-10 {
  height: 83.3%; }

.row-11 {
  height: 91.6%; }

.row-12 {
  height: 100%; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.table_clearfix {
  display: table; }
  .table_clearfix:after {
    content: '. .';
    display: block;
    word-spacing: 99in;
    height: 0;
    overflow: hidden;
    font-size: 0.13em;
    line-height: 0; }

.va_middle_out {
  position: relative;
  line-height: 0;
  font-size: 0; }
  .va_middle_out:after {
    position: relative;
    content: "";
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle; }

.va_middle_in {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  width: 100%;
  text-decoration: none; }

.justified {
  line-height: 0;
  font-size: 0;
  text-align: justify;
  text-align-last: justify; }
  .justified:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block; }

.mobile body {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent; }

.tablet body {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent; }

.ios input,
.ios textarea {
  -webkit-appearance: none;
  border-radius: 0; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/iconmoon/icomoon.eot?v1");
  src: url("../fonts/iconmoon/icomoon.eot?v1#iefix") format("embedded-opentype"), url("../fonts/iconmoon/icomoon.ttf?v1") format("truetype"), url("../fonts/iconmoon/icomoon.woff?v1") format("woff"), url("../fonts/iconmoon/icomoon.svg?v1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"],
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-cross:before {
  content: "\e900"; }

.icon-arrow_dropdown:before {
  content: "\e901"; }

.icon-check:before {
  content: "\e902"; }

.icon-door:before {
  content: "\e903"; }

.icon-arrow:before {
  content: "\e904"; }

html {
  height: 100%;
  font-size: 100%; }

body {
  height: 100%;
  min-width: 320px;
  color: #000;
  font: 400 0.875rem "Open Sans", sans-serif;
  background: #f9f9fa; }

a {
  font: 400 0.875rem "Open Sans", sans-serif;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

b {
  font-weight: 700; }

.img-responsive {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%; }

.wrapper {
  position: relative;
  z-index: 1;
  min-height: 100%;
  height: auto !important;
  padding-bottom: 80px; }
  .wrapper:before, .wrapper:after {
    content: " ";
    display: table; }
  .wrapper:after {
    clear: both; }

.box {
  padding: 0 20px;
  max-width: 1500px;
  margin: 0 auto; }

.content {
  margin: 0 auto; }

.h1 {
  color: #281f39;
  font-size: 24px;
  font-weight: 600;
  padding: 40px 0 15px; }

.sidebar ~ .main {
  margin-left: 370px;
  overflow: hidden; }

.mark1 {
  color: #8f9296; }

.mark2 {
  color: #fc8b19; }

.mark3 {
  color: #ffb66b; }

.mark4 {
  color: #34b3d1; }

.title {
  font-size: 16px;
  font-weight: 600;
  color: #281f39;
  padding: 23px 0 23px 30px;
  border-bottom: 1px solid #f2f2f2; }

.sort {
  color: #aaaeb3;
  font-size: 16px;
  font-weight: 600; }
  .sort:hover {
    color: #686471; }
    .sort:hover .sortIcon {
      opacity: 1;
      visibility: visible; }
  .sort.active .sortIcon {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  .sortIcon {
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    font-size: 4px;
    vertical-align: middle;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }

.tr {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: transparent; }
  .tr:before, .tr:after {
    content: " ";
    display: table; }
  .tr:after {
    clear: both; }

.td {
  position: relative;
  float: left;
  padding: 11px 1%; }
  .tdIn {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%; }

.header {
  height: 100px;
  background: #262627;
  padding: 0 60px; }
  .header:before, .header:after {
    content: " ";
    display: table; }
  .header:after {
    clear: both; }

.logo {
  float: left;
  display: block;
  padding: 19px 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .logo:hover {
    opacity: .6; }
  .logo img {
    display: inline-block;
    height: 62px;
    vertical-align: middle; }

.header__profile {
  float: right;
  text-align: right;
  padding: 31px 0; }
  .header__profileName {
    display: block;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: #fccc59;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .header__profileName:hover {
      text-decoration: underline; }

.header__login {
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #fccc59; }
  .header__login:hover {
    text-decoration: underline; }
  .header__login > span {
    vertical-align: middle; }
  .header__loginIcon {
    font-size: 18px;
    color: #fccc59; }

.header__sign {
  color: #fff; }
  .header__sign:hover {
    text-decoration: underline; }

.header__menu {
  text-align: center;
  margin: 0 250px; }
  .header__menuList {
    display: inline-block; }
  .header__menuLi {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 65px; }
    .header__menuLi:last-child {
      margin-right: 0; }
    .header__menuLi:hover .bar {
      opacity: .7; }
      .header__menuLi:hover .bar:before, .header__menuLi:hover .bar:after {
        width: 50% !important; }
    .header__menuLi.active a {
      cursor: default; }
    .header__menuLi.active .bar {
      opacity: 1; }
  .header__menuItem {
    display: block;
    height: 100px;
    line-height: 100px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    padding: 0 15px; }

.footer {
  position: relative;
  z-index: 2;
  height: 60px;
  margin-top: -60px;
  background: #262627;
  padding: 20px 0; }
  .footer .box:before, .footer .box:after {
    content: " ";
    display: table; }
  .footer .box:after {
    clear: both; }
  .footer__contact {
    float: right;
    font-size: 14px;
    color: #fccc59;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .footer__contact:hover {
      opacity: .6; }

.copyright {
  float: left;
  font-size: 14px;
  color: #fff; }

.row {
  position: relative; }

.field__wrap {
  display: block; }

.field__errorText {
  position: absolute;
  top: 100%;
  right: 0;
  text-align: right;
  font-size: 12px;
  margin-top: 5px;
  letter-spacing: .05px; }

.field__errorIcon {
  position: absolute;
  right: 0;
  bottom: 10px;
  font-size: 17px; }

.field__hint {
  position: absolute;
  top: 100%;
  right: 0;
  text-align: right;
  font-size: 12px;
  margin-top: 5px; }

.field {
  font-size: 16px;
  color: #000;
  border: none;
  border-bottom: 1px solid #E4E0E9;
  height: 35px;
  background: transparent;
  width: 100%;
  padding-right: 30px;
  vertical-align: top;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease; }
  .field::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.37); }
  .field::-moz-placeholder {
    color: rgba(0, 0, 0, 0.37); }
  .field:-moz-placeholder {
    color: rgba(0, 0, 0, 0.37); }
  .field:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.37) !important; }
  .field[disabled] {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.37);
    color: rgba(0, 0, 0, 0.5); }
  .field[readonly]:focus {
    border-bottom: 1px solid #E4E0E9; }
  .field:focus {
    border-bottom: 2px solid red; }
  .field-oneLine {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 0; }

.textarea {
  padding: 7px 30px 7px 0;
  line-height: 1.25; }

.btn {
  text-transform: uppercase;
  height: 40px;
  width: 100%;
  margin: auto;
  text-align: center;
  background: transparent;
  letter-spacing: .7px;
  font-size: 14px;
  vertical-align: top;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .btn:active {
    opacity: .8; }
  .btn-transp {
    color: white;
    border: 1px solid white; }
    .btn-transp[disabled] {
      color: rgba(255, 255, 255, 0.5);
      border-color: rgba(255, 255, 255, 0.5); }

.customCheck__label {
  cursor: pointer;
  display: block;
  margin: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; }
  .customCheck__labelRelative {
    display: inline-block;
    position: relative;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    float: left;
    margin-top: 2px; }
  .customCheck__labelPseudo {
    display: block;
    margin-left: 55px;
    font-size: 15px; }

.customCheck__check {
  opacity: 0;
  visibility: hidden;
  height: 18px;
  width: 18px; }
  .customCheck__check:checked + .customCheck__checkPseudo {
    background: #624a84;
    border-color: #624a84; }
  .customCheck__check:checked + .customCheck__checkPseudo:before {
    font-family: icomoon, sans-serif;
    content: "\e909";
    line-height: 1; }
  .customCheck__checkPseudo {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background: #fcfcfc;
    border: 2px solid #c8bed6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: background .2s ease, border-color .2s ease;
    transition: background .2s ease, border-color .2s ease; }
    .customCheck__checkPseudo:before {
      position: absolute;
      content: none;
      font-size: 10px;
      top: 50%;
      left: 0;
      width: 100%;
      text-align: center;
      margin: -5px 0 0 0;
      color: #fff; }

.dd {
  position: relative; }
  .dd.open > .ddMenu {
    visibility: visible;
    opacity: 1; }
  .dd.open .ddTrigger:after {
    border-top: 0;
    border-bottom: 7px solid #000; }
  .ddTrigger {
    position: relative;
    border-bottom: 1px solid #e4e0e9; }
    .ddTrigger:after {
      position: absolute;
      content: '';
      right: 10px;
      top: 50%;
      height: 0;
      width: 0;
      border-top: 7px solid #000;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent; }
    .ddTrigger__label {
      font-size: 12px;
      color: #9a999b;
      margin-bottom: 5px; }
    .ddTrigger__labeled {
      font-size: 16px;
      color: #000;
      padding-bottom: 10px; }
  .ddMenu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: -17px;
    right: -17px;
    margin-top: -1px;
    border-top: 1px solid #e4e0e9;
    background: #fff;
    padding: 3px 0; }
    .ddMenu:after {
      position: absolute;
      content: '';
      z-index: 1;
      background: rgba(0, 0, 0, 0.5);
      top: 100%;
      left: 0;
      right: 0; }
    .ddMenu__list {
      overflow-x: hidden;
      overflow-y: auto;
      max-height: 400px; }
    .ddMenu__link {
      display: block;
      padding: 9px 17px;
      font-size: 16px;
      color: #000; }
      .ddMenu__link:active {
        background: #ece9f0; }

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1056;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .modal.fade {
    opacity: 0; }
  .modal.in {
    opacity: 1; }
  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1055;
    background-color: #000;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .modal-backdrop.fade {
      opacity: 0; }
    .modal-backdrop.in {
      opacity: 0.8; }
  .modal-open {
    overflow: hidden !important; }
  .modal-dialog {
    position: absolute;
    z-index: 1050;
    margin: 0;
    width: 100% !important;
    left: 0;
    top: 0;
    bottom: 0; }
    .modal-dialogAlignOut {
      position: relative;
      line-height: 0;
      font-size: 0;
      position: relative;
      height: 100%;
      text-align: center;
      overflow: auto; }
      .modal-dialogAlignOut:after {
        position: relative;
        content: "";
        height: 100%;
        width: 0;
        display: inline-block;
        vertical-align: middle; }
    .modal-dialogAlignIn {
      display: inline-block;
      vertical-align: middle;
      max-width: 100%;
      width: 100%;
      text-decoration: none;
      font-size: 14px;
      line-height: 1.25;
      padding: 10px 0; }
    .modal-dialogContent {
      text-align: left;
      margin: auto;
      width: 600px;
      max-width: 100%;
      background: #fff;
      -webkit-box-shadow: 0 3px 5px rgba(38, 38, 39, 0.05);
      box-shadow: 0 3px 5px rgba(38, 38, 39, 0.05);
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px; }
      .modal-dialogContent.w-l {
        width: 940px; }

.modal__close {
  position: absolute;
  right: 20px;
  top: 25px;
  font-size: 20px;
  color: #bfbfbf;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .modal__close:hover {
    opacity: .6; }

.modal__header {
  position: relative;
  padding: 20px; }
  .modal__headerTitle {
    font-size: 36px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #281f39; }

.modal__body {
  padding: 0 20px 20px; }
  .modal__bodyIn {
    width: 600px;
    max-width: 100%;
    margin: auto; }
    .modal__bodyIn.w-l {
      width: 700px; }
    .modal__bodyIn.w-xl {
      width: 100%; }

.bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
  .bar:before, .bar:after {
    position: absolute;
    content: '';
    height: 5px;
    width: 0;
    bottom: 0;
    background: #fccc59;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .bar:before {
    left: 50%; }
  .bar:after {
    right: 50%; }
  .barParent {
    position: relative; }
    .barParent.active .bar:before,
    .barParent.active .bar:after {
      width: 50% !important; }
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50% !important; }

.sidebar {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 5px rgba(38, 38, 39, 0.05);
  box-shadow: 0 3px 5px rgba(38, 38, 39, 0.05);
  float: left;
  width: 340px; }

.card {
  width: 33%;
  min-width: 250px;
  float: left;
  padding-right: 30px;
  padding-bottom: 30px; }
  .card__list:before, .card__list:after {
    content: " ";
    display: table; }
  .card__list:after {
    clear: both; }
  .card:last-child {
    padding-right: 0; }
  .cardIn {
    height: 140px;
    padding: 40px 10px 20px 30px;
    overflow: hidden;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 5px rgba(38, 38, 39, 0.05);
    box-shadow: 0 3px 5px rgba(38, 38, 39, 0.05); }
  .card__pic {
    float: left;
    height: 62px;
    line-height: 62px;
    width: 62px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
    .card__pic.bg1 {
      background: #e66690; }
    .card__pic.bg2 {
      background: #fcca59; }
    .card__pic img {
      vertical-align: middle; }
  .card__info {
    margin-left: 85px;
    overflow: hidden; }
    .card__infoData {
      font-size: 16px;
      color: #aaaeb3;
      margin-bottom: 5px; }
      .card__infoData .equal {
        font-size: 32px;
        line-height: 32px;
        padding: 0 2%; }
      .card__infoData b {
        font-size: 32px;
        line-height: 32px; }
      .card__infoData > * {
        vertical-align: bottom;
        padding-right: 2px; }
    .card__infoLabel {
      font-size: 16px;
      color: #281f39;
      font-weight: 600; }

.cur__box {
  margin-bottom: 30px; }
  .cur__boxTitle {
    float: left;
    margin-right: 20px;
    font-size: 1.125rem;
    line-height: 48px;
    font-weight: 600;
    color: #281f39; }

.cur__list {
  display: flex;
  justify-content: space-between; }
  .cur__listWrap {
    overflow: hidden; }

.cur__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  height: 48px;
  line-height: 46px;
  background: #f5f5f6;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: 1px solid #d3d3d4;
  max-width: 140px;
  min-width: 100px;
  width: 15%;
  text-align: center;
  padding: 0 2px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .cur__item:hover {
    background: #fff; }

.cur__icon {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px; }
  .cur__icon img {
    display: inline-block;
    vertical-align: middle; }

.cur__name {
  display: inline-block;
  vertical-align: middle;
  color: #281f39;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase; }

.history {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 5px rgba(38, 38, 39, 0.05);
  box-shadow: 0 3px 5px rgba(38, 38, 39, 0.05); }
  .history__table .tr {
    color: #96949c; }
    .history__table .tr:hover {
      background: #fef4de;
      color: #686066; }
  .history__table .td-date {
    padding-left: 35px;
    width: 20%;
    font-size: 0.9375rem; }
  .history__table .td-amount {
    width: 15%;
    font-size: 1.125rem;
    color: #281f39; }
    .history__table .td-amount b {
      font-weight: 700; }
  .history__table .td-rate {
    width: 30%;
    font-size: 1.125rem;
    color: #281f39; }
  .history__table .td-address {
    width: 35%;
    text-align: right;
    font-size: 1.125rem;
    padding-right: 35px; }
  .history__tableHead {
    padding: 25px 0 25px; }

/*pixel-ratio: 2*/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /*.illustration_box span[class^="icon-"]{display: inline;}*/ }

/*pixel-ratio: 3*/
/*--------------------------------------------------------------------------------------------1280 ... ---------------*/
@media (min-width: 1280px) {
  /*body                                        {background: orange;}*/ }

/*--------------------------------------------------------------------------------------------1024 to 1280 -----------*/
@media (min-width: 1024px) and (max-width: 1280px) {
  html {
    font-size: 95%; }
  /*body                                        {background: beige;}*/ }

/*--------------------------------------------------------------------------------------------768_to_1023-------------*/
@media (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 90%; }
  /*body                                        {background: black;}*/ }

/*--------------------------------------------------------------------------------------------..._to_767--------------*/
@media (max-width: 767px) {
  html {
    font-size: 82%; }
  /*body                                        {background: green;}*/ }

/*--------------------------------------------------------------------------------------------480_to_767--------------*/
@media (min-width: 480px) and (max-width: 767px) {
  /*body                                        {background: brown;}*/ }

/*--------------------------------------------------------------------------------------------320_to_479--------------*/
@media (min-width: 320px) and (max-width: 479px) {
  /*body                                        {background: blue;}*/ }

/*--------------------------------------------------------------------------------------------..-320------------------*/
@media (max-width: 320px) {
  /*body                                         {background: red;}*/ }

/*# sourceMappingURL=maps/style.css.map */
