<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">

<!--fonts-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">

<!--styles-->
<link rel="stylesheet" type="text/css" href="css/style.css" />

<!--libs-->
<script type="text/javascript" src="js/libs/jquery-11.js"></script>
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<script type="text/javascript" src="js/libs/device.min.js"></script>
<script type="text/javascript" src="js/libs/bootstrap.min.js"></script>

<!--components-->
<!--modules-->
<script type="text/javascript" src="js/modules/menuS.js"></script>

<!--general-->
<script type="text/javascript" src="js/modal.js"></script>
<script type="text/javascript" src="js/common.js"></script>

