<header class="header">
	<button class="menuBtn js-menuTrigger">
		<span></span>
		<span></span>
		<span></span>
	</button>
	<a href="" class="logo">
		<img src="images/logo@2x.png" alt=""/>
	</a>
	<div class="header__profile">
		<div>
			<a href="" class="header__profileName ">valik_prusskiy@gmail.com</a>
			<a href="" class="header__login none" data-toggle="modal" data-target="#modalLogin">
				<span class="">LOGIN</span>
				<span class="header__loginIcon icon-door"></span>
			</a>
		</div>

		<div>
			<a href="" class="header__sign">Sign Up</a>
		</div>
	</div>
	<div class="header__menu">
		<ul class="header__menuList">
			<li class="header__menuLi barParent active">
				<div class="bar"></div>
				<a href="" class="header__menuItem">Dashboard</a>
			</li>
			<li class="header__menuLi barParent">
				<div class="bar"></div>
				<a href="" class="header__menuItem">2FA</a>
			</li>
			<li class="header__menuLi barParent">
				<div class="bar"></div>
				<a href="" class="header__menuItem">Account Settings</a>
			</li>
		</ul>
	</div>
</header>