<div class="menuS ">
	<a href="" class="menuS__logo">
		<img src="images/logo@2x.png" alt="">
	</a>
	<a href="" class="menuS__close icon-cross"></a>
	<div class="menuS__wrap">
		<ul class="menuS__list">
			<li class="menuS__li barVerParent active">
				<div class="barVer"></div>
				<a href="" class="menuS__item">Dashboard</a>
			</li>
			<li class="menuS__li barVerParent">
				<div class="barVer"></div>
				<a href="" class="menuS__item">2FA</a>
			</li>
			<li class="menuS__li barVerParent">
				<div class="barVer"></div>
				<a href="" class="menuS__item">Account Settings</a>
			</li>
		</ul>
	</div>
</div>
<div class="menuS__backdrops"></div>