html, body, h1, h2, h3, h4, h5, h6, p, em, strong, abbr, acronym, blockquote, q, cite, ins, del, dfn, a, div, span, pre, hr, address, br, b, i, sub, sup, big, small, tt, table, tr, caption, thead, tbody, tfoot, col, colgroup, form, input, label, textarea, button, fieldset, legend, select, option, ul, ol, li, dl, dt, dd, code, var, samp, img, object, param, map, area {
  padding: 0;
  margin: 0;
  border: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, figure, figcaption, header, footer, aside, article {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=button], input[type=submit], button {
  cursor: pointer; }

button {
  border: 0; }

*:focus {
  outline: none; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
  outline: none; }

button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* reset extra padding in Firefox */
::-ms-clear {
  width: 0;
  height: 0; }

::-ms-reveal {
  width: 0;
  height: 0;
  display: none; }

/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */
@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: break-word; }

a img {
  border: none;
  vertical-align: middle; }

input, textarea {
  outline: none;
  resize: none; }

.clear {
  clear: both; }

.pull-left {
  float: left; }

.fl_l {
  float: left; }

.pull-right {
  float: right; }

.fl_r {
  float: right; }

.text_r {
  text-align: right; }

.text_c {
  text-align: center; }

.text_l {
  text-align: left; }

.ov {
  overflow: hidden; }

.no_bg {
  background: none; }

.m_0 {
  margin: 0; }

.block {
  display: block; }

.in_bl {
  display: inline-block; }

.inline {
  display: inline; }

.hidden {
  visibility: hidden; }

.none {
  display: none !important; }

sup, sub {
  vertical-align: baseline;
  position: relative;
  font-size: .4em;
  line-height: 1; }

sup {
  bottom: 1.4ex; }

sub {
  top: .5ex; }

.va_t {
  vertical-align: top; }

.va_m {
  vertical-align: middle; }

.va_b {
  vertical-align: bottom; }

.va_middle_out {
  position: relative;
  line-height: 0;
  font-size: 0; }

.upp {
  text-transform: uppercase; }

.pr-10 {
  padding-right: 10px !important; }

.openKeyboard {
  overflow: hidden; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.col {
  float: left; }
  .col-1 {
    width: 8.2%; }
  .col-2 {
    width: 16.5%; }
  .col-3 {
    width: 25%; }
  .col-4 {
    width: 33.3%; }
  .col-5 {
    width: 41.7%; }
  .col-6 {
    width: 50%; }
  .col-7 {
    width: 58.3%; }
  .col-8 {
    width: 66.6%; }
  .col-9 {
    width: 75%; }
  .col-10 {
    width: 83.3%; }
  .col-11 {
    width: 91.6%; }
  .col-12 {
    width: 100%; }

.row-1 {
  height: 8.2%; }

.row-2 {
  height: 16.5%; }

.row-3 {
  height: 25%; }

.row-4 {
  height: 33.3%; }

.row-5 {
  height: 41.7%; }

.row-6 {
  height: 50%; }

.row-7 {
  height: 58.3%; }

.row-8 {
  height: 66.6%; }

.row-9 {
  height: 75%; }

.row-10 {
  height: 83.3%; }

.row-11 {
  height: 91.6%; }

.row-12 {
  height: 100%; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.table_clearfix {
  display: table; }
  .table_clearfix:after {
    content: '. .';
    display: block;
    word-spacing: 99in;
    height: 0;
    overflow: hidden;
    font-size: 0.13em;
    line-height: 0; }

.va_middle_out {
  position: relative;
  line-height: 0;
  font-size: 0; }
  .va_middle_out:after {
    position: relative;
    content: "";
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle; }

.va_middle_in {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  width: 100%;
  text-decoration: none; }

.justified {
  line-height: 0;
  font-size: 0;
  text-align: justify;
  text-align-last: justify; }
  .justified:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block; }

.mobile body {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent; }

.tablet body {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent; }

.ios input,
.ios textarea {
  -webkit-appearance: none;
  border-radius: 0; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/iconmoon/icomoon.eot?v1");
  src: url("../fonts/iconmoon/icomoon.eot?v1#iefix") format("embedded-opentype"), url("../fonts/iconmoon/icomoon.ttf?v1") format("truetype"), url("../fonts/iconmoon/icomoon.woff?v1") format("woff"), url("../fonts/iconmoon/icomoon.svg?v1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"],
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-cross:before {
  content: "\e900"; }

.icon-arrow_dropdown:before {
  content: "\e901"; }

.icon-check:before {
  content: "\e902"; }

.icon-door:before {
  content: "\e903"; }

.icon-arrow:before {
  content: "\e904"; }

.icon-attach:before {
  content: "\e905"; }

.out {
  height: 100%; }

html {
  height: 100%;
  font-size: 100%; }

body {
  height: 100%;
  min-width: 320px;
  color: #281f39;
  font: 400 0.875rem "Open Sans", sans-serif;
  background: #f9f9fa; }

a {
  font: 400 0.875rem "Open Sans", sans-serif;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

b {
  font-weight: 700; }

.img-responsive {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%; }

.wrapper {
  position: relative;
  z-index: 1;
  min-height: 100%;
  height: auto !important;
  padding-bottom: 150px; }
  .wrapper:before, .wrapper:after {
    content: " ";
    display: table; }
  .wrapper:after {
    clear: both; }
  @media only screen and (max-width: 767px) {
    .wrapper {
      padding-bottom: 100px; } }

.box {
  padding: 0 20px;
  max-width: 1500px;
  margin: 0 auto; }
  @media only screen and (max-width: 767px) {
    .box {
      padding: 0 5px; } }

.content {
  margin: 0 auto; }

.h1 {
  color: #281f39;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 40px 0 15px; }
  @media only screen and (max-width: 767px) {
    .h1 {
      padding: 20px 0 10px; } }

.default {
  cursor: default !important; }

.visible-xs {
  display: none; }

.sidebar ~ .main {
  margin-left: 370px;
  overflow: hidden; }
  @media only screen and (max-width: 1280px) {
    .sidebar ~ .main {
      margin-left: 315px;
      margin-top: 0 !important; } }
  @media only screen and (max-width: 1024px) {
    .sidebar ~ .main {
      margin-left: 0; } }

.main.margin1 {
  margin-top: -40px; }

.main__col {
  float: left;
  width: 47%;
  max-width: 480px; }
  .main__col.right {
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 5px rgba(38, 38, 39, 0.05);
    box-shadow: 0 3px 5px rgba(38, 38, 39, 0.05);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    float: right;
    margin-top: 14px;
    padding: 25px 40px 40px; }
  .main__col.one {
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 5px rgba(38, 38, 39, 0.05);
    box-shadow: 0 3px 5px rgba(38, 38, 39, 0.05);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    float: none;
    margin: auto;
    padding: 40px; }
    .main__col.one .title {
      text-align: center;
      margin-bottom: 31px; }
  @media only screen and (max-width: 767px) {
    .main__col {
      width: 100%;
      float: none !important;
      margin: 0 0 10px !important;
      padding: 10px 10px 20px !important; } }

.mark1 {
  color: #8f9296; }

.mark2 {
  color: #fc8b19; }

.mark3 {
  color: #ffb66b; }

.mark4 {
  color: #34b3d1; }

.mark5 {
  color: #ef5172;
  font-style: normal; }

.title {
  font-size: 16px;
  font-weight: 600;
  color: #281f39;
  padding: 25px 0 22px 30px;
  border-bottom: 1px solid #f2f2f2; }

.sort {
  color: #aaaeb3;
  font-size: 1rem;
  font-weight: 600; }
  @media only screen and (max-width: 767px) {
    .sort {
      font-size: 0.8125rem; } }
  .sort:hover {
    color: #686471; }
    .sort:hover .sortIcon {
      opacity: 1;
      visibility: visible; }
  .sort.active .sortIcon {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  .sortIcon {
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    font-size: 5px;
    vertical-align: middle;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }

.tr {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: transparent; }
  .tr:before, .tr:after {
    content: " ";
    display: table; }
  .tr:after {
    clear: both; }

.td {
  position: relative;
  float: left;
  padding: 11px 1%; }
  .tdIn {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%; }

.descr {
  margin-bottom: 10px;
  letter-spacing: -.2px; }

.qr {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 15px; }
  @media only screen and (max-width: 767px) {
    .qr {
      margin: 15px 0; } }
  .qr__text {
    font-size: 1rem;
    font-weight: 600;
    text-align: center; }

.attn {
  font-size: 0.8125rem;
  margin-bottom: 18px;
  margin-top: 14px;
  line-height: 1.6; }

.text h2 {
  font-size: 1.1rem;
  text-decoration: underline;
  margin-bottom: 15px;
  margin-top: 50px; }

.text p {
  margin-bottom: 15px; }

.text ol {
  list-style-type: decimal;
  list-style-position: inside;
  line-height: 1.3; }
  .text ol li {
    margin-bottom: 15px;
    font-size: 0.9375rem;
    font-weight: 600; }
    .text ol li .heading {
      display: inline-block;
      margin-bottom: 15px; }
    .text ol li .info {
      font-size: 0.875rem;
      font-weight: 400; }
  .text ol.sub {
    margin: 15px 15px;
    list-style-type: lower-latin;
    list-style-position: outside; }
    .text ol.sub .info {
      font-size: 0.8125rem;
      line-height: 1.2; }
  .text ol.sub-sub {
    margin: 15px;
    list-style-type: lower-roman;
    list-style-position: outside; }
    .text ol.sub-sub .info {
      font-size: 0.75rem;
      line-height: 1.2; }

.text ul {
  list-style-type: disc;
  list-style-position: inside;
  margin: 15px; }
  .text ul li {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 0.8125rem; }

.text table {
  width: 100%;
  margin: 15px 0; }
  .text table tr:nth-child(even) {
    background: #dddddd; }
  .text table td, .text table th {
    border: 1px solid #a2a2a2;
    padding: 5px;
    text-align: right;
    height: 30px; }

.invite {
  width: 165px;
  float: left;
  background: #d7d7d8;
  color: #281f39;
  padding: 0 20px;
  height: 48px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px; }
  .invite__icon {
    display: inline-block;
    vertical-align: middle;
    padding-right: 4px;
    color: #281f39;
    font-size: 18px;
    line-height: 48px; }
  .invite__text {
    font-size: 1rem;
    font-weight: 600;
    color: #281f39;
    vertical-align: middle;
    line-height: 48px; }

.header {
  height: 100px;
  background: #262627;
  padding: 0 60px; }
  .header:before, .header:after {
    content: " ";
    display: table; }
  .header:after {
    clear: both; }
  @media only screen and (max-width: 1024px) {
    .header {
      padding: 0 20px; } }

.logo {
  float: left;
  display: block;
  padding: 19px 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .logo:hover {
    opacity: .6; }
  @media only screen and (max-width: 1024px) {
    .logo {
      display: none; } }
  .logo img {
    display: inline-block;
    height: 62px;
    vertical-align: middle; }

.header__profile {
  float: right;
  text-align: right;
  padding: 31px 0; }
  .header__profileName {
    display: block;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: #fccc59;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .header__profileName:hover {
      text-decoration: underline; }
    @media only screen and (max-width: 767px) {
      .header__profileName {
        max-width: 200px; } }

.header__login {
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #fccc59; }
  .header__login:hover {
    text-decoration: underline; }
  .header__login > span {
    vertical-align: middle; }
  .header__loginIcon {
    font-size: 18px;
    color: #fccc59; }

.header__sign {
  color: #fff; }
  .header__sign:hover {
    text-decoration: underline; }

.header__menu {
  text-align: center; }
  @media only screen and (max-width: 1024px) {
    .header__menu {
      display: none; } }
  .header__menuList {
    display: inline-block; }
  .header__menuLi {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 35px; }
    @media only screen and (max-width: 1280px) {
      .header__menuLi {
        margin-right: 10px; } }
    .header__menuLi:last-child {
      margin-right: 0; }
    .header__menuLi:hover .bar {
      opacity: .7; }
      .header__menuLi:hover .bar:before, .header__menuLi:hover .bar:after {
        width: 50% !important; }
    .header__menuLi.active a {
      cursor: default; }
    .header__menuLi.active .bar {
      opacity: 1; }
  .header__menuItem {
    display: block;
    height: 100px;
    line-height: 100px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    padding: 0 10px; }
    @media only screen and (max-width: 1200px) {
      .header__menuItem {
        font-size: 0.75rem; } }
    @media only screen and (max-width: 1080px) {
      .header__menuItem {
        padding: 0 5px; } }

.footer {
  position: relative;
  z-index: 2;
  height: 60px;
  margin-top: -60px;
  background: #262627;
  padding: 20px 0; }
  .footer .box:before, .footer .box:after {
    content: " ";
    display: table; }
  .footer .box:after {
    clear: both; }
  .footer__link {
    float: left;
    padding: 0 7px;
    font-size: 0.875rem;
    color: #fccc59;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .footer__linkWrap {
      float: right;
      overflow: hidden; }
      .footer__linkWrap:first-child {
        padding-left: 0; }
      .footer__linkWrap:last-child {
        padding-right: 0; }
    .footer__link:hover {
      opacity: .6; }
    @media only screen and (max-width: 767px) {
      .footer__link {
        font-size: 0.8125rem;
        line-height: 17px; } }

.copyright {
  float: left;
  font-size: 0.875rem;
  color: #fff; }

.row {
  position: relative;
  margin-bottom: 10px; }

.label {
  display: block;
  color: #aaaeb3;
  font-size: 0.8125rem;
  padding: 3px 0; }

.form__title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px; }

.form__btns {
  margin-top: 30px; }

.field, .field2 {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #281f39;
  border: 1px solid #dcdcdc;
  height: 60px;
  background: transparent;
  width: 100%;
  padding: 0 20px;
  vertical-align: top;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease; }
  .field::-webkit-input-placeholder, .field2::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.37); }
  .field::-moz-placeholder, .field2::-moz-placeholder {
    color: rgba(0, 0, 0, 0.37); }
  .field:-moz-placeholder, .field2:-moz-placeholder {
    color: rgba(0, 0, 0, 0.37); }
  .field:-ms-input-placeholder, .field2:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.37) !important; }
  .field::-webkit-input-placeholder, .field2::-webkit-input-placeholder {
    color: #cecdd1; }
  .field::-moz-placeholder, .field2::-moz-placeholder {
    color: #cecdd1; }
  .field:-moz-placeholder, .field2:-moz-placeholder {
    color: #cecdd1; }
  .field:-ms-input-placeholder, .field2:-ms-input-placeholder {
    color: #cecdd1 !important; }
  .field[disabled], [disabled].field2 {
    background: #f9f9fa;
    border-width: 1px;
    border-color: #dcdcdc !important; }
  .field:focus, .field2:focus {
    border-width: 2px;
    border-color: #fccc59; }
  .field.error, .error.field2 {
    border-width: 2px;
    border-color: #ef5172 !important; }

.field2 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 1rem;
  height: 48px; }

.textarea {
  padding: 7px 30px 7px 0;
  line-height: 1.25; }

.btn {
  display: inline-block;
  height: 40px;
  margin: auto;
  text-align: center;
  background: transparent;
  vertical-align: top;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .btnText {
    vertical-align: middle; }
  .btnIcon {
    vertical-align: middle; }
  .btn-transp {
    color: white;
    border: 1px solid white; }
    .btn-transp[disabled] {
      color: rgba(255, 255, 255, 0.5);
      border-color: rgba(255, 255, 255, 0.5); }
  .btn-gray, .btn-more {
    background: #ececec;
    color: #a1a1a1; }
  .btn-orange, .btn-sbm, .btn-formSbm {
    background: #fccc59;
    color: #fff; }
    .btn-orange:hover, .btn-sbm:hover, .btn-formSbm:hover {
      background: #fc8c19; }
  .btn-more {
    font-size: 0.875rem;
    padding: 0 30px;
    margin: 25px 0; }
    .btn-more:hover {
      opacity: .8; }
    @media only screen and (max-width: 767px) {
      .btn-more {
        margin: 15px 0; } }
    .btn-more .btnIcon {
      padding-left: 5px;
      font-size: 8px;
      color: inherit; }
  .btn-sbm {
    height: 60px;
    width: 230px;
    font-size: 1.275rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 767px) {
      .btn-sbm {
        height: 50px; } }
    .btn-sbm.w250 {
      width: 250px; }
      @media only screen and (max-width: 767px) {
        .btn-sbm.w250 {
          width: 230px; } }
    .btn-sbm + .btn-sbm {
      margin-left: 15px; }
      @media only screen and (max-width: 767px) {
        .btn-sbm + .btn-sbm {
          margin: 15px 0 0; } }
  .btn-formSbm {
    font-size: 1rem;
    text-transform: uppercase;
    height: 40px;
    width: 150px; }

.customCheck__label {
  cursor: pointer;
  display: block;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin: 20px 0; }
  .customCheck__labelRelative {
    display: inline-block;
    position: relative;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    float: left; }
  .customCheck__labelPseudo {
    display: block;
    margin-left: 40px;
    font-size: 1rem;
    padding: 3px 0; }

.customCheck__check {
  opacity: 0;
  visibility: hidden;
  height: 28px;
  width: 28px; }
  .customCheck__check:checked + .customCheck__checkPseudo {
    background: #fccc59;
    border-color: #fccc59; }
  .customCheck__check:checked + .customCheck__checkPseudo:before {
    font-family: icomoon, sans-serif;
    content: "\e902";
    line-height: 1; }
  .customCheck__checkPseudo {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    background: #fff;
    border: 2px solid #dcdcdc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: background .2s ease, border-color .2s ease;
    transition: background .2s ease, border-color .2s ease; }
    .customCheck__checkPseudo:before {
      position: absolute;
      content: none;
      font-size: 12px;
      top: 50%;
      left: 0;
      width: 100%;
      text-align: center;
      margin: -5px 0 0 0;
      color: #fff; }

.dd {
  position: relative; }
  .dd.open > .ddMenu {
    visibility: visible;
    opacity: 1; }
  .ddTrigger {
    position: relative;
    display: block;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .ddTrigger:hover {
      opacity: .8; }
    .ddTrigger.ddArrow {
      padding-right: 15px; }
      .ddTrigger.ddArrow:after {
        position: absolute;
        content: '';
        right: 0;
        top: 50%;
        height: 0;
        width: 0;
        border-top: 3px solid #000;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent; }
    .ddTrigger__text {
      font-size: 1.125rem;
      color: #281f39;
      font-weight: 600; }
  .ddMenu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 10px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px 1px rgba(38, 38, 39, 0.1);
    box-shadow: 0px 1px 3px 1px rgba(38, 38, 39, 0.1); }
    .ddMenu__list {
      overflow-x: hidden;
      overflow-y: auto; }
    .ddMenu__item {
      display: block;
      padding: 9px 10px;
      font-size: 1rem;
      color: #281f39;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      .ddMenu__item.active {
        background: #fcca59;
        opacity: 1 !important; }
      .ddMenu__item:hover {
        opacity: .8; }

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1056;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .modal.fade {
    opacity: 0; }
  .modal.in {
    opacity: 1; }
  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1055;
    background-color: #000;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .modal-backdrop.fade {
      opacity: 0; }
    .modal-backdrop.in {
      opacity: 0.8; }
  .modal-open {
    overflow: hidden !important; }
  .modal-dialog {
    position: absolute;
    z-index: 1050;
    margin: 0;
    width: 100% !important;
    left: 0;
    top: 0;
    bottom: 0; }
    .modal-dialogAlignOut {
      position: relative;
      line-height: 0;
      font-size: 0;
      position: relative;
      height: 100%;
      text-align: center;
      overflow: auto; }
      .modal-dialogAlignOut:after {
        position: relative;
        content: "";
        height: 100%;
        width: 0;
        display: inline-block;
        vertical-align: middle; }
    .modal-dialogAlignIn {
      display: inline-block;
      vertical-align: middle;
      max-width: 100%;
      width: 100%;
      text-decoration: none;
      font-size: 14px;
      line-height: 1.25;
      padding: 10px 0; }
    .modal-dialogContent {
      position: relative;
      text-align: left;
      margin: auto;
      width: 600px;
      max-width: 100%;
      background: #fff;
      -webkit-box-shadow: 0 3px 5px rgba(38, 38, 39, 0.05);
      box-shadow: 0 3px 5px rgba(38, 38, 39, 0.05);
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px; }
      .modal-dialogContent.w-l {
        width: 940px; }

.modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 15px;
  padding: 10px;
  color: #b8b5be;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .modal__close:hover {
    opacity: .6; }

.modal__header {
  position: relative;
  padding: 20px; }
  .modal__headerTitle {
    font-size: 36px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #281f39; }

.modal__body {
  padding: 50px; }
  @media only screen and (max-width: 767px) {
    .modal__body {
      padding: 20px 10px 20px; } }

.modal__curPic {
  margin-bottom: 10px; }

.modal__title {
  font-size: 2.25rem;
  font-weight: 600;
  color: #281f39;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 28px; }
  @media only screen and (max-width: 767px) {
    .modal__title {
      margin-bottom: 15px; } }

.modal__sum {
  font-size: 18px;
  color: #281f39;
  margin: -10px 0 30px; }

.modal__note {
  font-size: 1.125rem;
  color: #281f39;
  margin-bottom: 30px; }
  @media only screen and (max-width: 767px) {
    .modal__note {
      margin-bottom: 15px; } }

.modal__btns {
  margin-top: 30px; }

.bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
  .bar:before, .bar:after {
    position: absolute;
    content: '';
    height: 5px;
    width: 0;
    bottom: 0;
    background: #fccc59;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .bar:before {
    left: 50%; }
  .bar:after {
    right: 50%; }
  .barParent {
    position: relative; }
    .barParent.active .bar:before,
    .barParent.active .bar:after {
      width: 50% !important; }
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50% !important; }

.barVer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0; }
  .barVer:before, .barVer:after {
    position: absolute;
    content: '';
    width: 5px;
    height: 0;
    left: 0;
    background: #fccc59;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .barVer:before {
    top: 50%; }
  .barVer:after {
    bottom: 50%; }
  .barVerParent {
    position: relative; }
    .barVerParent.active .barVer:before,
    .barVerParent.active .barVer:after {
      height: 50% !important; }

.sidebar {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 5px rgba(38, 38, 39, 0.05);
  box-shadow: 0 3px 5px rgba(38, 38, 39, 0.05);
  float: left;
  width: 340px; }
  @media only screen and (max-width: 1280px) {
    .sidebar {
      width: 300px; } }
  @media only screen and (max-width: 1024px) {
    .sidebar {
      float: none;
      width: 100%;
      margin-bottom: 20px; } }
  @media only screen and (max-width: 1024px) {
    .sidebar .title {
      padding: 15px 20px; } }
  .sidebar__tumbler {
    padding: 29px 40px 31px 30px;
    border-bottom: 1px solid #f2f2f2; }
    .sidebar__tumbler:before, .sidebar__tumbler:after {
      content: " ";
      display: table; }
    .sidebar__tumbler:after {
      clear: both; }
    @media only screen and (max-width: 1024px) {
      .sidebar__tumbler {
        padding: 15px 20px; } }
    .sidebar__tumbler .ddMenu {
      width: 100px;
      left: -30px;
      margin-top: 10px; }
    .sidebar__tumbler .ddMenu__item {
      text-align: center; }
  .sidebar__select {
    float: left;
    min-width: 55px; }
  .sidebar__num {
    float: right;
    font-size: 1.125rem;
    color: #aaa8ae;
    text-align: right; }
  .sidebar__body {
    padding: 22px 0 70px;
    clear: both; }
    @media only screen and (max-width: 1024px) {
      .sidebar__body {
        padding: 20px 0 40px; }
        .sidebar__body:before, .sidebar__body:after {
          content: " ";
          display: table; }
        .sidebar__body:after {
          clear: both; } }
    @media only screen and (max-width: 767px) {
      .sidebar__body {
        padding: 10px 0; } }
  .sidebar__row {
    padding: 21px 40px 21px 30px; }
    .sidebar__row:before, .sidebar__row:after {
      content: " ";
      display: table; }
    .sidebar__row:after {
      clear: both; }
    @media only screen and (max-width: 1024px) {
      .sidebar__row {
        width: 33%;
        float: left;
        padding: 10px; } }
    @media only screen and (max-width: 767px) {
      .sidebar__row {
        width: 100%; } }
  .sidebar__cur {
    float: left;
    color: #281f39;
    vertical-align: middle; }
    .sidebar__cur .cur__icon {
      width: 23px;
      padding: 0; }
    .sidebar__cur .cur__name {
      font-weight: 400;
      font-size: 1.125rem; }

.card {
  width: 25%;
  float: left;
  padding-right: 30px;
  padding-bottom: 30px; }
  .card__list:before, .card__list:after {
    content: " ";
    display: table; }
  .card__list:after {
    clear: both; }
  .items-3 .card {
    width: 33%; }
    .items-3 .card:last-child {
      width: 34%; }
  @media only screen and (max-width: 1280px) {
    .card {
      padding-right: 15px;
      padding-bottom: 20px; } }
  @media only screen and (max-width: 767px) {
    .card {
      width: 100% !important;
      margin-bottom: 10px;
      padding: 0; } }
  .card:last-child {
    padding-right: 0; }
  .cardIn {
    height: 140px;
    padding: 40px 0 20px 30px;
    overflow: hidden;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 5px rgba(38, 38, 39, 0.05);
    box-shadow: 0 3px 5px rgba(38, 38, 39, 0.05); }
    @media only screen and (max-width: 767px) {
      .cardIn {
        padding: 20px 5px 10px 10px;
        height: 100px; } }
  .card__pic {
    float: left;
    height: 52px;
    line-height: 52px;
    width: 52px;
    font-size: 0;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
    .card__pic.bg1 {
      background: #e66690; }
    .card__pic.bg2 {
      background: #fcca59; }
    .card__pic img {
      vertical-align: middle; }
  .card__info {
    margin-left: 75px;
    overflow: hidden; }
    .card__infoData {
      font-size: 0.875rem;
      color: #aaaeb3;
      margin-bottom: 7px; }
      .card__infoData .equal {
        font-size: 1.4rem;
        line-height: 32px;
        padding: 0 2%; }
      .card__infoData b {
        font-size: 1.4rem;
        line-height: 35px; }
      .card__infoData > * {
        vertical-align: bottom;
        padding-right: 2px; }
    .card__infoLabel {
      font-size: 1rem;
      color: #281f39;
      font-weight: 600; }
    .card__info .colspan {
      display: inline-block;
      vertical-align: top;
      white-space: nowrap; }
  .card__total {
    padding-right: 30px;
    margin-top: -20px; }
    .card__totalRow {
      font-size: 1.4rem;
      color: #281f39;
      text-align: right; }
    .card__totalCur {
      font-size: 90%; }
    .card__totalTitle {
      font-size: 1rem;
      height: 22px;
      line-height: 13px;
      font-weight: 600;
      color: #281f39; }

.menu-open .menuS__backdrops {
  opacity: 1;
  visibility: visible;
  pointer-events: all; }

.menuBtn {
  display: none;
  background: transparent;
  height: 100px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .menuBtn:hover {
    opacity: .6; }
  @media only screen and (max-width: 1024px) {
    .menuBtn {
      display: inline-block; } }
  .menuBtn > span {
    display: block;
    width: 24px;
    height: 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 4px;
    background: #fccc59; }

.menuS {
  position: fixed;
  z-index: 21;
  top: 0;
  bottom: 0;
  left: -420px;
  width: 420px;
  max-width: 100%;
  background: #1d1d1d;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  @media only screen and (max-width: 767px) {
    .menuS {
      left: -90%;
      width: 90%; } }
  .menuS.menu-open {
    left: 0; }
    @media only screen and (max-width: 767px) {
      .menuS.menu-open {
        left: 0;
        width: 90%; } }
  .menuS__backdrops {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.38);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 20;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .menuS__item {
    display: block;
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    padding-left: 65px;
    height: 70px;
    line-height: 70px; }
    @media only screen and (max-width: 767px) {
      .menuS__item {
        height: 50px;
        line-height: 50px; } }

.menuS__logo {
  display: inline-block;
  padding: 30px 35px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .menuS__logo:hover {
    opacity: .6; }
  .menuS__logo img {
    display: inline-block;
    height: 62px;
    vertical-align: middle; }

.menuS__close {
  position: absolute;
  font-size: 20px;
  color: #fccc59;
  top: 30px;
  right: 20px;
  padding: 10px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .menuS__close:hover {
    opacity: .6; }

.error__text {
  color: #ef5172;
  font-size: 0.8125rem;
  padding: 3px 0;
  font-weight: 600;
  text-align: right;
  float: right;
  max-width: 75%; }

.loader {
  display: block;
  width: 35px;
  height: 35px;
  margin: 0 auto;
  border: 2px solid white;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: cssload-spin 575ms infinite linear;
  -o-animation: cssload-spin 575ms infinite linear;
  -ms-animation: cssload-spin 575ms infinite linear;
  -webkit-animation: cssload-spin 575ms infinite linear;
  -moz-animation: cssload-spin 575ms infinite linear; }
  .loader ~ .btnText {
    height: 0;
    overflow: hidden;
    display: block; }
  .loader.none ~ .btnText {
    height: auto; }

@keyframes cssload-spin {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg); } }

@-o-keyframes cssload-spin {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-ms-keyframes cssload-spin {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes cssload-spin {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }

.sec__advt {
  margin: 53px 0 12px;
  max-width: 97%;
  font-size: 0.9375rem;
  color: #281f39;
  line-height: 1.65; }
  @media only screen and (max-width: 767px) {
    .sec__advt {
      margin: 20px 0; } }
  .sec__advt p {
    margin-bottom: 10px; }
  .sec__advt ul {
    list-style: disc;
    list-style-position: outside;
    margin: 0 20px 16px;
    padding-left: 17px; }
  .sec__advt li {
    font-size: 0.8125rem;
    padding: 0 0 7px; }
  .sec__advtListTitle {
    margin: 22px 20px 8px; }
  .sec__advtLink {
    font-size: 0.9375rem;
    color: #3db6d2; }
    .sec__advtLink:hover {
      text-decoration: underline; }

.cur__box {
  margin-bottom: 30px; }
  @media only screen and (max-width: 1280px) {
    .cur__box {
      margin-bottom: 15px; } }
  .cur__boxTitle {
    float: left;
    margin-right: 20px;
    font-size: 1.125rem;
    line-height: 48px;
    font-weight: 600;
    color: #281f39; }
    @media only screen and (max-width: 1280px) {
      .cur__boxTitle {
        float: none;
        line-height: 20px;
        padding-bottom: 15px; } }

.cur__list {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 767px) {
    .cur__list {
      display: block; } }
  .cur__listWrap {
    overflow: hidden; }

.cur__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  height: 48px;
  font-size: 0;
  line-height: 0;
  background: #f5f5f6;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: 1px solid #d3d3d4;
  width: 15%;
  text-align: center;
  padding: 0 2px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .cur__item:hover {
    background: #fff; }
  @media only screen and (max-width: 767px) {
    .cur__item {
      width: 31%;
      margin: 0 2px 5px; } }
  .cur__item .cur__icon {
    line-height: 46px; }

.cur__icon {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px; }
  @media only screen and (max-width: 1280px) {
    .cur__icon {
      padding-right: 6px; } }
  .cur__icon img {
    display: inline-block;
    vertical-align: middle; }

.cur__name {
  display: inline-block;
  vertical-align: middle;
  color: #281f39;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -1px; }

.history {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 5px rgba(38, 38, 39, 0.05);
  box-shadow: 0 3px 5px rgba(38, 38, 39, 0.05); }
  .history .title {
    padding-left: 40px; }
  .history__table .tr {
    color: #96949c;
    overflow: hidden;
    height: 45px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .history__table .tr:hover {
      cursor: pointer;
      background: #fef4de;
      color: #686066; }
    .history__table .tr.inactive {
      height: 0; }
  .history__table .td-date {
    padding-left: 40px;
    width: 21%;
    font-size: 0.9375rem; }
    @media only screen and (max-width: 767px) {
      .history__table .td-date {
        width: 39%;
        padding-left: 10px;
        font-size: 0.8125rem; } }
  .history__table .td-amount {
    width: 14%;
    font-size: 1.125rem;
    color: #281f39; }
    .history__table .td-amount b {
      font-weight: 700; }
    @media only screen and (max-width: 767px) {
      .history__table .td-amount {
        width: 26%;
        font-size: 0.8125rem; } }
  .history__table .td-rate {
    width: 26%;
    font-size: 1.125rem;
    color: #281f39; }
    @media only screen and (max-width: 767px) {
      .history__table .td-rate {
        display: none; } }
  .history__table .td-purchased {
    width: 16%;
    font-size: 1.125rem;
    color: #281f39;
    padding-right: 0 !important;
    padding-left: 0 !important; }
    @media only screen and (max-width: 1280px) {
      .history__table .td-purchased {
        width: 20%; } }
    @media only screen and (max-width: 767px) {
      .history__table .td-purchased {
        width: 35%;
        font-size: 0.8125rem; } }
  .history__table .td-address {
    width: 23%;
    text-align: right;
    font-size: 1.125rem;
    padding-right: 35px; }
    @media only screen and (max-width: 1280px) {
      .history__table .td-address {
        width: 19%; } }
    @media only screen and (max-width: 767px) {
      .history__table .td-address {
        display: none; } }
  .history__tableHead {
    padding: 14px 0 16px; }
    @media only screen and (max-width: 767px) {
      .history__tableHead {
        padding: 5px 0; } }
  .history__tableBtns {
    text-align: center;
    overflow: hidden;
    height: 90px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .history__tableBtns.inactive {
      height: 0; }

.address {
  width: 100%;
  margin-bottom: 30px;
  font-size: 1rem;
  height: 48px; }
  @media only screen and (max-width: 1280px) {
    .address {
      margin-bottom: 20px; } }
  @media only screen and (max-width: 767px) {
    .address {
      margin-bottom: 10px; } }
  @media only screen and (max-width: 767px) {
    .address .cur__icon img {
      height: 16px; } }
  .address__title {
    float: left;
    background: #d7d7d8;
    color: #281f39;
    padding: 0 20px;
    height: 48px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px; }
  .address .cur__text {
    vertical-align: middle;
    line-height: 48px; }
  .address__btn {
    float: right;
    height: 48px;
    width: 160px;
    text-align: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #fcca59;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 20px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .address__btn:hover {
      opacity: .6; }
    .address__btn.active {
      background: #fc8c19; }
    .address__btn .btnIcon {
      font-size: 10px; }
  .address__fieldWrap {
    overflow: hidden; }
  .address__field {
    border: 1px solid #d7d7d8;
    background: #fff;
    color: #989b9e;
    padding: 0 17px;
    height: 48px;
    font-size: 1rem;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    width: 100%; }

@media only screen and (min-width: 1350px) {
  .address {
    width: 80%; } }

.content-2fa {
  max-width: 1060px; }
  .content-2fa .h1 {
    text-align: center;
    padding-bottom: 5px; }
  .content-2fa .descr {
    text-align: center; }
  .content-2fa .main {
    padding: 30px 0 0; }
    .content-2fa .main:before, .content-2fa .main:after {
      content: " ";
      display: table; }
    .content-2fa .main:after {
      clear: both; }
    @media only screen and (max-width: 767px) {
      .content-2fa .main {
        padding-top: 10px; } }
  .content-2fa .main__col.one {
    margin-top: -16px; }
  .content-2fa .title {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 0;
    border: none; }
  .content-2fa p {
    font-size: 1rem;
    margin-bottom: 10px;
    line-height: 1.5;
    letter-spacing: -.06px; }
  .content-2fa .qr {
    margin: 45px 0 30px; }
    @media only screen and (max-width: 767px) {
      .content-2fa .qr {
        margin: 10px; } }
    .content-2fa .qr img {
      height: 280px; }
      @media only screen and (max-width: 767px) {
        .content-2fa .qr img {
          height: 150px; } }

.content-pass {
  max-width: 1060px; }
  .content-pass .h1 {
    text-align: center;
    padding-bottom: 30px; }

.presale {
  font-size: 0.9375rem;
  color: #281f39; }
  .presale__head {
    overflow: hidden;
    margin: 0 0 15px; }
    @media only screen and (max-width: 767px) {
      .presale__head {
        margin: 0 0 5px; } }
    .presale__headLeft {
      float: left;
      padding-top: 3px; }
      @media only screen and (max-width: 767px) {
        .presale__headLeft {
          padding: 0 10px 10px 0;
          line-height: 23px; } }
    .presale__headRight {
      float: right;
      overflow: hidden; }
      @media only screen and (max-width: 767px) {
        .presale__headRight {
          float: left; } }
    .presale__headItem {
      float: left;
      border-right: 2px solid #c1bfc7;
      padding: 0 20px;
      color: #797580; }
      @media only screen and (max-width: 767px) {
        .presale__headItem {
          padding: 0 10px 5px 0;
          border-width: 0; } }
      .presale__headItem:last-child {
        border-right: none;
        padding-right: 0; }
      .presale__headItem > * {
        display: inline-block;
        vertical-align: middle; }
      .presale__headItem .cur__icon {
        padding-right: 0; }
      .presale__headItem b {
        color: #281f39;
        font-size: 1.125rem; }
  .presale__note {
    color: #797680;
    margin: 0 0 15px;
    letter-spacing: .25px; }
  .presale__attn {
    letter-spacing: -.02px;
    line-height: 1.6;
    margin: 0 0 25px; }
    .presale__attnTitle {
      color: #ef5172;
      text-transform: uppercase; }

.content-referrals {
  max-width: 1125px; }

@media only screen and (min-width: 1350px) {
  .content-referrals .address {
    width: 93%; } }

.ref {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 5px rgba(38, 38, 39, 0.05);
  box-shadow: 0 3px 5px rgba(38, 38, 39, 0.05); }
  .ref .title {
    padding-left: 40px; }
    @media only screen and (max-width: 1024px) {
      .ref .title {
        padding-left: 10px; } }
  .ref__table .tr {
    color: #96949c;
    overflow: hidden;
    height: 45px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .ref__table .tr:hover {
      cursor: pointer;
      background: #fef4de;
      color: #686066; }
    .ref__table .tr.inactive {
      height: 0; }
  .ref__table .td-email {
    padding-right: 0;
    padding-left: 40px;
    width: 30%;
    font-size: 0.9375rem; }
    @media only screen and (max-width: 1024px) {
      .ref__table .td-email {
        padding-left: 10px;
        width: 33%; } }
    @media only screen and (max-width: 767px) {
      .ref__table .td-email {
        padding-left: 10px;
        font-size: 0.8125rem; } }
  .ref__table .td-address {
    padding-right: 0;
    width: 40%;
    font-size: 1.125rem; }
    @media only screen and (max-width: 1024px) {
      .ref__table .td-address {
        width: 37%; } }
  .ref__table .td-amount {
    width: 30%;
    text-align: right;
    padding-right: 35px;
    font-size: 1.125rem;
    color: #281f39; }
    .ref__table .td-amount b {
      font-weight: 700; }
    @media only screen and (max-width: 1024px) {
      .ref__table .td-amount {
        padding-right: 10px; } }
    @media only screen and (max-width: 767px) {
      .ref__table .td-amount {
        font-size: 0.8125rem; } }
    .ref__table .td-amount .tdIn > * {
      vertical-align: middle; }
  .ref__tableHead {
    padding: 14px 0 16px; }
    @media only screen and (max-width: 767px) {
      .ref__tableHead {
        display: none; } }
  .ref__tableBtns {
    text-align: center;
    overflow: hidden;
    height: 90px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .ref__tableBtns.inactive {
      height: 0; }

@media (max-width: 767px) {
  .content-referrals h1 {
    display: none; }
  .content-referrals .title {
    padding: 8px 10px;
    font-size: 12px; }
  .content-referrals .address {
    margin: 10px 0;
    height: auto; }
    .content-referrals .address__btn {
      float: none;
      clear: both;
      width: 100%;
      margin: 10px 0; }
  .content-referrals .invite__text {
    position: absolute;
    top: -10px;
    left: 0; }
  .content-referrals .invite {
    width: 37px;
    padding: 0;
    text-align: center; }
    .content-referrals .invite__icon {
      font-size: 14px;
      padding: 0; }
  .ref__tableBody {
    padding-top: 10px; }
  .ref__table .tr {
    height: auto;
    padding: 0 10px;
    margin: 5px 0 0; }
  .ref__table .td {
    padding: 0;
    font-size: 12px; }
    .ref__table .td .cur__icon {
      display: none; } }

@media (max-width: 480px) {
  .ref__table .td {
    width: 100%; } }

/*pixel-ratio: 2*/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /*.illustration_box span[class^="icon-"]{display: inline;}*/ }

/*pixel-ratio: 3*/
/*-------------... 1500 ---------------*/
@media (max-width: 1500px) {
  .cardIn {
    padding-left: 20px; } }

/*------------... 1380 ---------------*/
@media (max-width: 1380px) {
  .cardIn {
    height: 105px;
    padding-top: 27px; }
  .card:nth-child(4) img {
    height: 30px; }
  .card__pic {
    height: 40px;
    line-height: 40px;
    width: 40px; }
    .card__pic img {
      height: 22px; }
  .card__info {
    margin-left: 50px; }
  .card__infoData {
    font-size: .8125rem; }
  .card__total {
    padding-right: 20px; }
  .card__totalTitle {
    font-size: 0.9375rem;
    line-height: 22px; } }

/*-------... 1280--------*/
@media (max-width: 1280px) {
  .cardIn {
    padding-left: 10px; }
  .card__total {
    padding-right: 10px; } }

@media (max-width: 1130px) {
  .cardIn {
    height: 85px;
    padding-top: 22px; }
  .card:nth-child(4) img {
    height: 20px; }
  .card__pic {
    height: 25px;
    line-height: 25px;
    width: 25px; }
    .card__pic img {
      height: 15px; }
  .card__infoData {
    margin-bottom: 0; }
  .card__info {
    margin-left: 35px; }
  .card__infoData b {
    font-size: 1rem;
    line-height: 25px; }
  .card__infoData .equal {
    line-height: 25px; }
  .card__totalRow {
    font-size: 1rem; }
  .history .title {
    padding-left: 20px; }
  .history__table .td {
    font-size: 1rem; }
  .history__table .td-date {
    padding-left: 20px;
    font-size: 0.9375rem; }
  .history__table .td-address {
    padding-right: 20px; } }

/*------------... 1024 ---------------*/
@media (max-width: 1024px) {
  .card__pic {
    height: 30px;
    line-height: 30px;
    width: 30px; }
    .card__pic img {
      height: 20px; }
  .card__info {
    margin-left: 40px; }
  .card__infoData b {
    font-size: 1.1rem; }
  .card__totalTitle,
  .card__infoLabel {
    font-size: 0.8125rem; }
  .card__totalRow {
    font-size: 1.1rem; } }

/*------------... 950 ---------------*/
@media (max-width: 950px) {
  .card__pic {
    display: none; }
  .card__info {
    margin-left: 0; } }

/*--------------------------------------------------------------------------------------------1024 to 1280 -----------*/
@media (min-width: 1024px) and (max-width: 1280px) {
  html {
    font-size: 95%; }
  /*body                                        {background: beige;}*/ }

/*--------------------------------------------------------------------------------------------768_to_1023-------------*/
@media (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 90%; }
  /*body                                        {background: black;}*/ }

/*--------------------------------------------------------------------------------------------..._to_767--------------*/
@media (max-width: 767px) {
  html {
    font-size: 82%; }
  .visible-xs {
    display: block; }
  .hidden-xs {
    display: none; }
  /*body                                        {background: green;}*/ }

/*--------------------------------------------------------------------------------------------480_to_767--------------*/
@media (min-width: 480px) and (max-width: 767px) {
  /*body                                        {background: brown;}*/ }

/*--------------------------------------------------------------------------------------------320_to_479--------------*/
@media (min-width: 320px) and (max-width: 479px) {
  /*body                                        {background: blue;}*/ }

/*--------------------------------------------------------------------------------------------..-320------------------*/
@media (max-width: 320px) {
  /*body                                         {background: red;}*/ }

/*# sourceMappingURL=maps/style.css.map */
