.field{
	font-size: 16px;
	color: #000;
	border: none;
	border-bottom: 1px solid #E4E0E9;
	height: 35px;
	background: transparent;
	width: 100%;
	padding-right: 30px;
	vertical-align: top;
	text-decoration: none;
	outline: none;
	@include plhl-color(rgba(0,0,0,.37));
	@include transition(all .15s ease);

	&[disabled]{
		border-bottom: 1px dotted rgba(0,0,0,.37);
		color: rgba(0,0,0,.5);
	}
	&[readonly]{
		&:focus{
			border-bottom: 1px solid #E4E0E9;
		}
	}

	&:focus{
		border-bottom: 2px solid red;
	}

	&-oneLine{
		@include ellipsis;
		padding-right: 0;
	}
}
.textarea{
	padding: 7px 30px 7px 0;
	line-height: 1.25;
}
.btn{
	text-transform: uppercase;
	height: 40px;
	width: 100%;
	margin: auto;
	text-align: center;
	background: transparent;
	letter-spacing: .7px;
	font-size: 14px;
	vertical-align: top;
	@include border-radius(2px);
	@include transition();

	&:active{
		opacity: .8;
	}

	&-transp{
		color: rgba(255,255,255,1);
		border: 1px solid rgba(255,255,255,1);
		&[disabled]{
			color: rgba(255,255,255,.5);
			border-color: rgba(255,255,255,.5);
		}
	}
}
