
.card{
	&__list{
		@include clearfix;
	}
	width: 33%;
	min-width: 250px;
	float: left;
	padding-right: $defXPad2;
	padding-bottom: 30px;
	&:last-child{
		padding-right: 0;
	}
	&In{
		height: 140px;
		padding: 40px 10px 20px $defXPad2;
		overflow: hidden;
		background: #fff;
		@include border-radius(5px);
		@include box-shadow($shadow);
	}
	&__pic{
		float: left;
		height: 62px;
		line-height: 62px;
		width: 62px;
		text-align: center;
		@include border-radius(50%);
		&.bg1{
			background: #e66690;
		}
		&.bg2{
			background: #fcca59;
		}
		img{
			vertical-align: middle;
		}
	}
	&__info{
		margin-left: 85px;
		overflow: hidden;
		&Data{
			font-size: 16px;
			color: #aaaeb3;
			margin-bottom: 5px;
			.equal{
				font-size: 32px;
				line-height: 32px;
				padding: 0 2%;
			}
			b{
				font-size: 32px;
				line-height: 32px;
			}
			& > *{
				vertical-align: bottom;
				padding-right: 2px;
			}
		}
		&Label{
			font-size: 16px;
			color: #281f39;
			font-weight: 600;
		}
	}
}