.dd{
	position: relative;
	&.open > .ddMenu{
		visibility: visible;
		opacity: 1;
	}
	&.open{
		.ddTrigger:after{
			border-top: 0;
			border-bottom: 7px solid #000;
		}
	}
	&Trigger{
		position: relative;
		border-bottom: 1px solid #e4e0e9;
		&:after{
			position: absolute;
			content: '';
			right: 10px;
			top: 50%;
			height: 0;
			width: 0;
			border-top: 7px solid #000;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
		}
		&__label{
			font-size: 12px;
			color: #9a999b;
			margin-bottom: 5px;
		}
		&__labeled{
			font-size: 16px;
			color: #000;
			padding-bottom: 10px;
		}
	}
	&Menu{
		visibility: hidden;
		opacity: 0;
		position: absolute;
		z-index: 1;
		top: 100%;
		left: -17px;
		right: -17px;
		margin-top: -1px;
		border-top: 1px solid #e4e0e9;
		background: #fff;
		padding: 3px 0;
		&:after{
			position: absolute;
			content: '';
			z-index: 1;
			background: rgba(0,0,0,.5);
			top: 100%;
			left: 0;
			right: 0;
		}
		&__list{
			overflow-x: hidden;
			overflow-y: auto;
			max-height: 400px;
		}
		&__item{}
		&__link{
			display: block;
			padding: 9px 17px;
			font-size: 16px;
			color: #000;
			&:active{
				background: #ece9f0;
			}
		}
	}
}

