.sec__advt{
	margin: 53px 0 12px;
	max-width: 97%;
	font-size: 0.9375rem;
	color: #281f39;
	line-height: 1.65;
	@include MQ(S){
		margin: 20px 0;
	};
	p{
		margin-bottom: 10px;
	}
	ul{
		list-style: disc;
		list-style-position: outside;
		margin: 0 20px 16px;
		padding-left: 17px;
	}
	li{
		font-size: 0.8125rem;
		padding: 0 0 7px;
	}
	&ListTitle{
		margin: 22px 20px 8px;
	}
	&Link{
		font-size: 0.9375rem;
		color: #3db6d2;
		&:hover{
			text-decoration: underline;
		}
	}
}