.customCheck__label{
	cursor: pointer;
	display: block;
	@include user-sel-n;
	margin: 20px 0;
	&Relative{
		display: inline-block;
		position: relative;
		font-size: 0;
		line-height: 0;
		vertical-align: middle;
		float: left;
	}
	&Pseudo{
		display: block;
		margin-left: 40px;
		font-size: 1rem;
		padding: 3px 0;
	}
}
.customCheck__check{
	opacity: 0;
	visibility: hidden;
	height: 28px;
	width: 28px;
	&:checked + .customCheck__checkPseudo{
		background: #fccc59;
		border-color: #fccc59;
	}
	&:checked + .customCheck__checkPseudo:before{
		font-family: icomoon, sans-serif;
		content: "\e902";
		line-height: 1;
	}
	&Pseudo{
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 28px;
		height: 28px;
		background: #fff;
		border: 2px solid #dcdcdc;
		@include border-radius(2px);
		-webkit-transition: background .2s ease, border-color .2s ease;
		transition: background .2s ease, border-color .2s ease;
		&:before{
			position: absolute;
			content: none;
			font-size: 12px;
			top: 50%;
			left: 0;
			width: 100%;
			text-align: center;
			margin: -5px 0 0 0;
			color: #fff;
		}
	}
}
