.sidebar{
	background: #fff;
	@include border-radius(5px);
	@include box-shadow($shadow);


	float: left;
	width: 340px;
	@include MQ(L){
		width: 300px;
	};
	@include MQ(M){
		float: none;
		width: 100%;
		margin-bottom: 20px;
	};
	.title{
		@include MQ(M){
			padding: 15px 20px;
		};
	}
	&__tumbler{
		padding: 29px 40px 31px $defXPad2;
		border-bottom: 1px solid #f2f2f2;
		@include clearfix;
		@include MQ(M){
			padding: 15px 20px;
		};
		.ddMenu{
			width: 100px;
			left: -$defXPad2;
			margin-top: 10px;
		}
		.ddMenu__item{
			text-align: center;
		}
	}
	&__select{
		float: left;
		min-width: 55px;
	}
	&__num{
		float: right;
		font-size: 1.125rem;
		color: #aaa8ae;
		text-align: right;
	}
	&__body{
		padding: 22px 0 70px;
		clear: both;
		@include MQ(M){
			@include clearfix;
			padding: 20px 0 40px;
		};
		@include MQ(S){
			padding: 10px 0;
		};
	}
	&__row{
		padding: 21px 40px 21px $defXPad2;
		@include clearfix;
		@include MQ(M){
			width: 33%;
			float: left;
			padding: 10px;
		};
		@include MQ(S){
			width: 100%;
		};
	}
	&__cur{
		float: left;
		color: #281f39;
		vertical-align: middle;
		.cur__icon{
			width: 23px;
			padding: 0;
		}
		.cur__name{
			font-weight: 400;
			font-size: 1.125rem;
		}
	}
}