.cur{
	&__box{
		margin-bottom: $defXPad2;
		@include MQ(L){
			margin-bottom: 15px;
		};
		&Title{
			float: left;
			margin-right: 20px;
			font-size: 1.125rem;
			line-height: 48px;
			font-weight: 600;
			color: #281f39;
			@include MQ(L){
				float: none;
			};
		}
	}
	&__list{
		display: flex;
		justify-content: space-between;
		@include MQ(S){
			display: block;	
		};
		&Wrap{
			overflow: hidden;
		}
	}
	&__item{
		display: inline-block;
		vertical-align: top;
		margin-right: 5px;
		height: 48px;
		font-size: 0;
		line-height: 0;
		//line-height: 46px;
		background: #f5f5f6;
		@include border-radius(7px);
		border: 1px solid #d3d3d4;
		//max-width: 140px;
		width: 15%;
		text-align: center;
		padding: 0 2px;
		@include transition();
		&:hover{
			background: #fff;
		}
		@include MQ(S){
			width: 31%;
			margin: 0 2px 5px;
		};
		.cur__icon{
			line-height: 46px;
		}
	}
	&__icon{
		display: inline-block;
		vertical-align: middle;
		padding-right: 10px;
		@include MQ(L){
			padding-right: 6px;
		};
		img{
			display: inline-block;
			vertical-align: middle;
		}
	}
	&__name{
		display: inline-block;
		vertical-align: middle;
		color: #281f39;
		font-size: 1.25rem;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: -1px;
	}
}
.history{
	background: #fff;
	@include border-radius(5px);
	@include box-shadow($shadow);
	.title{
		padding-left: 40px;
	}
	&__table{
		.tr{
			color: #96949c;
			overflow: hidden;
			height: 45px;
			@include transition();
			&:hover{
				cursor: pointer;
				background: #fef4de;
				color: #686066;
			}
			&.inactive{
				height: 0;
			}

		}
		.td-date{
			padding-left: 40px;
			width: 25%;
			font-size: 0.9375rem;
			@include MQ(S){
				width: 34%;
				padding-left: 10px;
				font-size: 0.8125rem;
			};
		}
		.td-amount{
			width: 18%;
			font-size: 1.125rem;
			color: #281f39;
			b{
				font-weight: 700;
			}
			@include MQ(S){
				width: 22%;
				font-size: 0.8125rem;
			};
		}
		.td-rate{
			width: 30%;
			font-size: 1.125rem;
			color: #281f39;
			@include MQ(S){
				width: 44%;
				font-size: 0.8125rem;
			};
		}
		.td-address{
			width: 27%;
			text-align: right;
			font-size: 1.125rem;
			padding-right: 35px;
			@include MQ(S){
				display: none;
			};
		}

		&Head{
			padding: 14px 0 16px;
			@include MQ(S){
				padding: 5px 0;
			};
		}
		&Body{
			.td{}
		}
		&Btns{
			text-align: center;
			overflow: hidden;
			height: 90px;
			@include transition();
			&.inactive{
				height: 0;
			}
		}
	}
}
