.content-2fa{
	max-width: 1060px;
	.h1{
		text-align: center;
		padding-bottom: 5px;
	}
	.descr{
		text-align: center;
	}
	.main{
		@include clearfix;
		padding: 30px 0 0;
		@include MQ(S){
			padding-top: 10px;
		};
	}
	.main__col.one{
		margin-top: -16px;
	}
	.title{
		font-size: 1.75rem;
		font-weight: 700;
		margin-bottom: 10px;
		padding: 0;
		border: none;
	}
	p{
		font-size: 1rem;
		margin-bottom: 10px;
		line-height: 1.5;
		letter-spacing: -.06px;
	}
	.qr{
		margin: 45px 0 30px;
		@include MQ(S){
			margin: 10px;
		}
		img{
			height: 280px;
			@include MQ(S){
				height: 150px;
			};
		}
	}
}
