.presale{
	font-size: 0.9375rem;
	color: #281f39;
	&__head{
		overflow: hidden;
		margin: 0 0 15px;
		@include MQ(S){
			margin: 0 0 5px;
		};
		&Left{
			float: left;
			padding-top: 3px;
			@include MQ(S){
				padding: 0 10px 10px 0;
				line-height: 23px;
			};

		}
		&Right{
			float: right;
			overflow: hidden;
			@include MQ(S){
				float: left;
			};
		}
		&Item{
			float: left;
			border-right: 2px solid #c1bfc7;
			padding: 0 20px;
			color: #797580;
			@include MQ(S){
				padding: 0 10px 5px 0;
				border-width: 0;
			};
			&:last-child{
				border-right: none;
				padding-right: 0;
			}
			& > * {
				display: inline-block;
				vertical-align: middle;
			}
			.cur__icon{
				padding-right: 0;
			}
			b{
				color: #281f39;
				font-size: 1.125rem;
			}
		}
	}

	&__note{
		color: #797680;
		margin: 0 0 15px;
		letter-spacing: .25px;
	}
	&__attn{
		letter-spacing: -.02px;
		line-height: 1.6;
		margin: 0 0 25px;
		&Title{
			color: #ef5172;
			text-transform: uppercase;
		}
	}
}