/*pixel-ratio: 2*/
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	/*.illustration_box span[class^="icon-"]{display: inline;}*/
}

/*pixel-ratio: 3*/
@media
only screen and (-webkit-min-device-pixel-ratio: 3),
only screen and (   min--moz-device-pixel-ratio: 3),
only screen and (     -o-min-device-pixel-ratio: 3/1),
only screen and (        min-device-pixel-ratio: 3),
only screen and (                min-resolution: 288dpi),
only screen and (                min-resolution: 3dppx) {


}
/*-------------... 1500 ---------------*/
@media (max-width:1500px) {
	.cardIn{padding-left: 20px;}
}
/*------------... 1380 ---------------*/
@media (max-width:1380px) {
	.card{
		&In{
			height: 105px;
			padding-top: 27px;
		}
		&:nth-child(4){
			img{
				height: 30px;
			}
		}
	}
	.card__pic {
		height: 40px;line-height: 40px;width: 40px;
		img{
			height: 22px;
		}
	}
	.card__info{margin-left: 50px;}
	.card__infoData {font-size: .8125rem;}
	.card__total{
		padding-right: 20px;
	}
	.card__totalTitle{
		font-size: 0.9375rem;
		line-height: 22px;
	}
}

/*-------... 1280--------*/
@media (max-width:1280px) {
	.cardIn{padding-left: 10px;}
	.card__total{padding-right: 10px;}
}

@media (max-width:1130px) {
	.card{
		&In {
			height: 85px;
			padding-top: 22px;
		}
		&:nth-child(4){
			img{
				height: 20px;
			}
		}
	}
	.card__pic {
		height: 25px;line-height: 25px;width: 25px;
		img{
			height: 15px;
		}
	}
	.card__infoData{
		margin-bottom: 0;
	}
	.card__info{margin-left: 35px;}
	.card__infoData b{font-size: 1rem;line-height: 25px;}
	.card__infoData .equal{line-height: 25px;}
	.card__totalRow{font-size: 1rem;}
	.history{
		.title{
			padding-left: 20px;
		}
		&__table{
			.td{
				font-size: 1rem;
			}
			.td-date{
				padding-left: 20px;
				font-size: 0.9375rem;
			}
			.td-address{
				padding-right: 20px;
			}
		}
	}

}
/*------------... 1024 ---------------*/
@media (max-width:1024px) {
	.card__pic {
		height: 30px;line-height: 30px;width: 30px;
		img{
			height: 20px;
		}
	}
	.card__info{margin-left: 40px;}
	.card__infoData b{font-size: 1.1rem;}
	.card__totalTitle,
	.card__infoLabel{
		font-size: 0.8125rem;
	}
	.card__totalRow{font-size: 1.1rem;}
}
/*------------... 950 ---------------*/
@media (max-width:950px) {
	.card__pic{display: none;}
	.card__info{margin-left: 0;}
}


/*--------------------------------------------------------------------------------------------1024 to 1280 -----------*/
@media (min-width:1024px) and (max-width: 1280px) {
	html                                        {font-size: 95%;}
	/*body                                        {background: beige;}*/
}


/*--------------------------------------------------------------------------------------------768_to_1023-------------*/
@media (min-width: 768px) and (max-width: 1023px) {
	html                                        {font-size: 90%;}
	/*body                                        {background: black;}*/
}


/*--------------------------------------------------------------------------------------------..._to_767--------------*/
@media (max-width: 767px) {
	html                                        {font-size: 82%;}
	.visible-xs{display: block;}
	.hidden-xs{display: none;}
	/*body                                        {background: green;}*/
}


/*--------------------------------------------------------------------------------------------480_to_767--------------*/
@media (min-width: 480px) and (max-width: 767px) {
	/*body                                        {background: brown;}*/
}


/*--------------------------------------------------------------------------------------------320_to_479--------------*/
@media (min-width: 320px) and (max-width: 479px) {
	/*body                                        {background: blue;}*/

}

/*--------------------------------------------------------------------------------------------..-320------------------*/
@media (max-width: 320px) {
	/*body                                         {background: red;}*/

}



