.field{
	font-size: 18px;
	font-family: $ff-main;
	font-weight: 600;
	color: #281f39;
	border: 1px solid #dcdcdc;
	height: 60px;
	background: transparent;
	width: 100%;
	padding: 0 20px;
	vertical-align: top;
	@include border-radius(7px);
	@include plhl-color(rgba(0,0,0,.37));
	@include transition(all .15s ease);
	@include plhl-color(#cecdd1);

	&[disabled]{
		background: #f9f9fa;
		border-width: 1px;
		border-color: #dcdcdc!important;
	}
	&[readonly]{}

	&:focus{
		border-width: 2px;
		border-color: $brand-color;
	}
	&.error{
		border-width: 2px;
		border-color: #ef5172!important;
	}

}
.field2{
	@extend .field;
	@include border-radius(3px);
	font-size: 1rem;
	height: 48px;
}
.textarea{
	padding: 7px 30px 7px 0;
	line-height: 1.25;
}
.btn{
	display: inline-block;
	height: 40px;
	margin: auto;
	text-align: center;
	background: transparent;
	vertical-align: top;
	font-weight: 700;
	font-family: $ff-main;
	text-transform: uppercase;
	@include border-radius(60px);
	@include transition();

	&Text{
		vertical-align: middle;
	}
	&Icon{
		vertical-align: middle;
	}

	&-transp{
		color: rgba(255,255,255,1);
		border: 1px solid rgba(255,255,255,1);
		&[disabled]{
			color: rgba(255,255,255,.5);
			border-color: rgba(255,255,255,.5);
		}
	}
	&-gray{
		background: #ececec;
		color: #a1a1a1;
	}
	&-orange{
		background: $brand-color;
		color: #fff;
		&:hover{
			background: #fc8c19;
		}
	}
	&-more{
		@extend .btn-gray;
		font-size: 0.875rem;
		padding: 0 30px;
		margin: 25px 0;
		&:hover{opacity: .8;}
		@include MQ(S){
			margin: 15px 0;
		};
		.btnIcon{
			padding-left: 5px;
			font-size: 8px;
			color: inherit;
		}
	}
	&-sbm{
		@extend .btn-orange;
		height: 60px;
		width: 230px;
		font-size: 1.275rem;
		text-transform: uppercase;
		@include MQ(S){
			height: 50px;
		};
		&.w250{
			width: 250px;
			@include MQ(S){
				width: 230px;
			};
		}
		& + &{
			margin-left: 15px;
			@include MQ(S){
				margin: 15px 0 0;
			};
		}
	}
	&-formSbm{
		@extend .btn-orange;
		font-size: 1rem;
		text-transform: uppercase;
		height: 40px;
		width: 150px;
	}
}
