.modal {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1056;
	overflow: hidden;
	opacity: 0;
	@include transition();
	&.fade {
		opacity: 0;
	}
	&.in {
		opacity: 1;
	}
	&-backdrop {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1055;
		background-color: #000;
		@include transition();
		&.fade {
			opacity: 0;
		}
		&.in {
			opacity: 0.8;
		}
	}
	&-open{
		overflow: hidden!important;
	}
	&-dialog {
		position: absolute;
		z-index: 1050;
		margin: 0;
		width: 100%!important;
		left: 0;
		top: 0;
		bottom: 0;

		&AlignOut{
			@include va_middle_out;
			position: relative;
			height: 100%;
			text-align: center;
			overflow: auto;
		}
		&AlignIn{
			@include va_middle_in;
			font-size: 14px;
			line-height: 1.25;
			padding: 10px 0;
		}
		&Content{
			position: relative;
			text-align: left;
			margin: auto;
			width: 600px;
			max-width: 100%;
			background: #fff;
			@include box-shadow($shadow);
			@include border-radius(10px);
			&.w-l{
				width: 940px;
			}
		}
	}
}
.modal__close{
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 15px;
	padding: 10px;
	color: #b8b5be;
	cursor: pointer;
	@include transition();
	&:hover{opacity: .6;}
}
.modal__header{
	position: relative;
	padding: 20px;
	&Title{
		font-size: 36px;
		font-weight: 600;
		font-family: $ff-add;
		text-transform: uppercase;
		text-align: center;
		color: #281f39;
	}
}
.modal__body{
	padding: 50px;
	@include MQ(S){
		padding: 20px 10px 20px;
	};
}
.modal__curPic{
	margin-bottom: 10px;
}
.modal__title{
	font-size: 2.25rem;
	font-weight: 600;
	color: #281f39;
	font-family: $ff-add;
	margin-bottom: 28px;
	@include MQ(S){
		margin-bottom: 15px;
	};
}
.modal__sum{
	font-size: 18px;
	color: #281f39;
	margin: -10px 0 30px;
}
.modal__note{
	font-size: 1.125rem;
	color: #281f39;
	margin-bottom: 30px;
	@include MQ(S){
		margin-bottom: 15px;
	};
}
.modal__btns{
	margin-top: 30px;
}